h1{
    font-weight: 500;
}
.about-us{
    display: flex;
    margin: 0 auto;
    background-color: rgb(19, 19, 19,0.7);
    border-radius: 1rem;
    margin-top: 5rem;
    padding: 2rem;
    flex-direction: column;
    width: 80%;
}
p a{
    text-decoration: underline;
}
p a{
    text-decoration: underline;
    color: #F43F5E;
}
p a:hover{
    color: white;
}
.about-us-paragraphs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}